nav{
    border-top: 4px solid #004A98;
    border-bottom: 1px solid rgb(221, 217, 217);
}
.hover_me:hover{
    text-decoration: 2px underline #FF8142;
    cursor: pointer;
}

.hover_m,.active:hover{
    text-decoration: 2px underline #FF8142;
}

.loader {
    display: flex;
    position: fixed;
    /* top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    inset: 0;
    z-index: 999999;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 100%;
    height: 100%;
}

#preloader{
    align-items: center;
    justify-content: center;
    border-top: 4px solid #FF8142;
    border-left: 4px solid #FF8142;
    border-right: 4px solid #004A98;
    border-bottom: 4px solid #004A98;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    /* text-align: center; */
    animation: spin 2s linear infinite;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}
